@model CheFuZi.Models.EditPasswordModel


@using (Html.BeginForm("EditPwd", "Account", FormMethod.Post, new { @class = "form-inline" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>更改密码</legend>
        <div class="editor-field" style="padding:10px;">
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "form-label" })
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="editor-field" style="padding:10px;">
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "form-label" })
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="editor-field" style="padding:10px;">
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="editor-field" style="position:relative;top:10px;">
            <button type="submit" class="btn btn-primary FormWidth-s">更改密码</button>
        </div>
    </fieldset>
}
